%script{:src => "https://www.hipchat.com/atlassian-connect/all.js"}
%link{:href => "https://www.hipchat.com/atlassian-connect/all.css", :rel => "stylesheet"}/
%p Configuration page
%a{:href => "/thanks"} Finished
